.block {
    width: 200px;
}

.admin-block {
    width: 275px;
}

.color-gray {
    color: gray;
}

.row {
    margin-bottom: 3em;
}

div.block {
    white-space: nowrap;
}

.top {
    background: #cff4fc;
    padding: 0 0 .5em 1em;
    border-radius: 1em;
}

.nowrap {
    white-space: nowrap;
}

.table td {
    padding: 0;
}

#spinner-wrapper {
    position: absolute;
    margin: 25% 50%;
    z-index: 2147483647;
}

#spinner {
    display: none;
}

.float-right {
    float: right;
}

.display-none {
    display: none;
}
