{% extends 'base.html.twig' %}
{% block js %}
    <script src="{{ asset('js/index.js') }}?t={{ 'now'|date('U') }}"></script>
{% endblock %}
{% block body %}
    <main id="app">
        <div class="container">
            <div class="row">
                <div class="col col-sm-12 col-md-6 col-lg-2">
                    <div class="alert-info top">
                        <h3 class="mt-3">Top</h3>
                        <div class="mb-1 nowrap" v-for="(link, id) in top" v-bind:key="top.id">
                            <a v-bind:href="link.icon" target="_blank">
                                <img alt="" v-bind:src="link.icon" width="16" height="16">
                            </a>&nbsp;
                            <a v-bind:href="link.href" target="_blank" v-html="link.name"
                               v-bind:data-id="link.id" v-on:click="conversion"></a>
                            (<small class="small" v-html="link.count"></small>)
                        </div>
                    </div>
                    <br>
                </div>
                <div class="block col col-sm-6 col-lg-4" v-for="blocks in columns">
                    <div v-for="block in blocks">
                        <h3 class="mt-3" v-html="block.name"></h3>
                        <div class="mb-1" v-for="link in block.links">
                            <a v-bind:href="link.icon" target="_blank">
                                <img alt="" v-bind:src="link.icon" width="16" height="16">
                            </a>&nbsp;
                            <a v-bind:href="link.href" target="_blank" v-html="link.name"
                               v-bind:data-id="link.id" v-on:click="conversion"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
