<h3 class="mt-3">Last</h3>
<div class="mb-1 nowrap" v-for="(link, id) in last" v-bind:key="last.id">
    <a v-bind:href="link.icon" target="_blank">
        <img alt="" v-bind:src="link.icon" width="16" height="16">
    </a>&nbsp;
    <a v-bind:href="link.href" target="_blank" v-html="link.name"
       v-bind:data-id="link.id" @click="conversion"></a>
</div>
