{% extends 'base.html.twig' %}
{% block js %}
    <script src="{{ asset('js/private.js') }}?t={{ 'now'|date('U') }}"></script>
{% endblock %}
{% block body %}
    <main id="app">
        {% include 'spinner.html.twig' %}
        <div class="container-fluid max-width-1300">
            <div class="row">
                {% include 'index/top.html.twig' %}
                <div class="block col col-sm-6 col-lg-4" v-for="blocks in columns">
                    <div v-for="block in blocks">
                        <h3 class="mt-3" v-html="block.name"></h3>
                        <div class="mb-1" v-for="link in block.links">
                            <a v-bind:href="link.icon" target="_blank">
                                <img alt="" v-bind:src="link.icon" width="16" height="16">
                            </a>&nbsp;
                            <a v-bind:href="link.href" target="_blank" v-html="link.name"
                               v-bind:data-id="link.id" v-on:click="conversion"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
