<div class="modal fade" id="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalLabel">Идентификация</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                {% include 'login/form.html.twig' %}
            </div>
            {#            <div class="modal-footer"> #}
            {#                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button> #}
            {#                <button type="button" class="btn btn-primary">Понял</button> #}
            {#            </div> #}
        </div>
    </div>
</div>