<div class="modal fade" id="modalLogin" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="modalLoginLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalLoginLabel">Вход в систему</h1>
            </div>
            <div class="modal-body">
                {% include 'login/form.html.twig' %}
            </div>
        </div>
    </div>
</div>