<div class="d-flex justify-content-center" id="spinner-wrapper" v-if="spinner">
    <div class="spinner-border" role="status" id="spinner">
        <span class="visually-hidden">Загрузка...</span>
    </div>
</div>
